# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment variables / Sensitive data
.env
.secret

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log